* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.col {
  padding: 0;
}

.register {
  padding-top: 30px;
  padding-bottom: 50px;
}

.register .header {
  text-align: center;
  padding: 10px 0;
  color: black;
  font-weight: 400;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.register .loading {
  display: none;
}

.register .loading #homePage {
  display: none;
  text-decoration: none;
  color: "green";
}

.register .mandatory {
  color: red;
}

.register #registerForm {
  font-size: 29px;
}

.register #registerForm .form-item {
  padding: 10px 0;
  border-bottom: 5px solid #AE18E2;
}

.register #registerForm .form-item input {
  height: 100%;
  font-size: 20px;
  border: none;
  width: 100%;
}

.register #registerForm .form-item input:-internal-autofill-selected {
  background-color: transparent;
}

.register #registerForm .form-item .warning {
  display: none;
  font-size: 16px;
}

.register #registerForm .right-form .gender {
  display: flex;
  flex-direction: row;
}

.register #registerForm .right-form .gender .male-selection {
  padding: 7px 0;
  padding-left: 20px;
}

.register #registerForm .right-form .gender .male-selection input {
  font-size: 50px;
  height: 20px;
  width: 20px;
  color: #AE18E2;
  border-color: 1px solid #AE18E2 !important;
}

.register #registerForm .right-form .btn-submit {
  margin-top: 80px;
  width: 290px;
  height: 50px;
  padding: 10px 0;
  color: white;
  font-weight: 400;
  font-size: 24px;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #AE18E2;
}
