<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StockX</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/detail.css">
  </head>
  <body>
    <header class="header">
      <div class="navbar-header">
        <div class="container">
          <div class="row">
            <div class="col">
              <a class="logo-brand" href="../index.html">
                <img class="img-logo" src="../Images/image 3.png" alt="logo" />
              </a>
            </div>
            <div class="col">
              <div class="header-items">
                <div class="shopping-cart">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <p id="cart-number" class="cart-number">1</p>
                </div>
                <a href="#">
                  <i class="fa-solid fa-user"></i> <span>Login</span>
                </a>
                <a href="./register.html"> <span>Register</span> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-bar">
        <div class="container">
          <div class="row">
            <div class="menu-items">
              <a href="#" class="menu-item active">Home </a>
              <a href="#" class="menu-item">Man </a>
              <a href="#" class="menu-item">Women </a>
              <a href="#" class="menu-item">Kid </a>
              <a href="#" class="menu-item">Sport </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="detail-product">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="left-side">
                        <div class="product-illustration">
                            <img class="detail-product" src="" alt="" >
                        </div>    
                    </div>
                </div>
                <div class="col-8">
                    <div class="right-side">
                        <h2 class='product-name'></h2>
                        <p class='product-description'></p>
                        <p class="des-size">Available size</p>

                        <div class="sizes">

                        </div>
                        <p class="price"></p>
                        <div class="product-number">
                            <button class="add-btn">+</button>
                            <p class="quantity">1</p>
                            <button class="sub-btn">-</button>
                        </div>
                        <button class="adding-btn"> Add to cart </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-feature">
        <div class="container">
          <div class="row">
            <div class="feature-header">
              <h2>- Related Products -</h2>
            </div>
            <div class="feature-body row">
              <div class="product-card col-4">
                <div class="card-body">
                  <img
                    src="https://shop.cyberlearn.vn/images/adidas-prophere.png"
                    alt=""
                  />
                  <div class="titles">
                    <h3 class="product-title">Adidas Propheres</h3>
                    <p class="product-description">Short Des</p>
                  </div>
                </div>
                <div class="card-actions">
                  <a class="btn-buy" href="./views/detail.html?productid=1">Buy Now</a>
                  <p class="price-text">Price</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="top-footer">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="item-info">
                  <h2 class="item-header">Product Info</h2>
                  <a href="#" class="item-link">Contact-us</a>
                  <a href="#" class="item-link">Shoping</a>
                  <a href="#" class="item-link">NIKEID</a>
                  <a href="#" class="item-link">Nike+</a>
                </div>
              </div>
              <div class="col-4">
                <div class="item-info border-left">
                  <h2 class="item-header">Orders</h2>
                  <a href="#" class="item-link">Payment options</a>
                  <a href="#" class="item-link">Shipping and delivery</a>
                  <a href="#" class="item-link">Returns</a>
                </div>
              </div>
              <div class="col-4">
                <div class="item-info border-left">
                  <h2 class="item-header">Register</h2>
                  <p href="#" class="item-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <a href="#" class="item-link item-red-link">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-footer">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="item-info">
                  <h2 class='item-header'>EMAIL SIGN UP</h2>
                  <p class="bottom-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <a href="#" class="item-link item-red-link">Sign up now</a>
                </div>
              </div>
              <div class="col-4">
                <div class="item-info">
                  <h2 class='item-header'>GIFT CARDS</h2>
                  <p class="bottom-description">Lorem ipsum dolor sit.</p>
                  <a href="#" class="item-link item-red-link">View card</a>
                </div>
              </div>
              <div class="col-4">
                <div class="item-info">
                  <h2 class='item-header'>STOREs NEAR YOU</h2>
                  <p class="bottom-description">
                    Locate a Nike real store or authorized retailer
                  </p>
                  <a href="#" class="item-link  item-red-link">Search</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>


    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>

    <script type="module" src="../controllers/detail.js"></script>
  </body>
</html>
