* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
  
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

.row{
    padding: 0;
    margin: 0;
}
.col{
    padding: 0;
}